**/node_modules
build
dist
coverage

.git
.gitignore
.cursor
.vscode
.idea

.env
.env.*
*.log
logs
tmp
temp

backend/**/__pycache__
backend/**/*.pyc
backend/**/*.pyo
backend/**/venv
backend/**/uploads
